<!DOCTYPE html>
<html ng-app="fortinetMarketplace">
    <head>
        <base href="/test"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <title>FortiSOAR Marketplace</title>
        <link rel="shortcut icon" type="image/x-icon" href="" />
        <!-- CSS only -->
        <link rel="stylesheet" type="text/css" href="test/assets/css/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body ng-controller="marketplaceController">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-3">
                    <nav id="sidebar" class="sidebar">
                        <div class="simplebar-content">
                            <input class="form-control" type="text" placeholder="Search In Marketplace"/>
                            <ul class="sidebar-nav list-unstyled">
                                <li class="sidebar-item active"><a class="sidebar-link" ng-click="applyFilter('all')">All</a></li>
                                <li class="sidebar-item"><a class="sidebar-link" ng-click="applyFilter('connector')">Integrations</a></li>
                                <li class="sidebar-item"><a class="sidebar-link" ng-click="applyFilter('use_cases')">Use Cases</a></li>
                                <li class="sidebar-item"><a class="sidebar-link" ng-click="applyFilter('content_packs')">Content Packs</a></li>
                                <li class="sidebar-item"><a class="sidebar-link" ng-click="applyFilter('widget')">Widgets</a></li>
                                <li class="sidebar-item"><a class="sidebar-link" ng-click="applyFilter('how_tos')">How To's</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="main col-md-9">
                    <main class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left text-center item-container" ng-repeat="item in listItems" ng-show="filter === 'all' || filter === item.type">
                                        <div class="item-icon">
                                            <img ng-if="item.type !== 'connector'" src="test/assets/images/icon_large.png" />
                                            <img ng-if="item.type === 'connector'" data-ng-src="{{item.iconLarge}}" />
                                        </div>
                                        <h5>{{item.display}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
        <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
        <script src="test/assets/js/app.js"></script>
        <script src="test/assets/js/marketPlaceController.js"></script>
    </body>
</html>
