.topbar-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.topbar-container h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 20px 10px 25px 40px;
  background: #eaeaea; 
}

.sidebar #sidebar {
  position: fixed;
  top: 80px;
  left: 0px;
  right: 75%;
  bottom: 0px;
  background: #f7f7f7;
}

.sidebar .sidebar-content {
  padding: 30px 40px 20px 40px;
}

.sidebar .sidebar-nav {
  font-size: 17px;
  margin-top: 20px;
  font-weight: 700;
}

.sidebar .sidebar-content .form-control {
  height: 35px;
  font-size: 14px;
}

.sidebar .sidebar-item {
  margin-top: 5px;
}

.sidebar .sidebar-link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.sidebar .sidebar-link.active {
  color: #3b75b8;
}

.sidebar .sidebar-link:hover {
  text-decoration: underline;
}

.main {
  margin-top: 100px !important; 
}

.main .carousel {
  margin-top: 15px;
  z-index: -1;
}

.main .carousel .carousel-inner .carousel-item img {
  height: 300px;
  margin-left: 135px;
}

.main .carousel .carousel-control-prev-icon, .main .carousel .carousel-control-next-icon {
  background-color: #aba9a9;
}

.main .carousel .carousel-caption {
  top: 75px;
  left: 51%;
  color: #000;
  text-align: left;
}

.main .content {
  margin-top: 15px; 
}

.item-container {
  width: 230px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 10px 20px 15px 0px;
  padding: 5px 0px 0px 0px;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  text-decoration: none;
  position: relative;
}

.item-container:hover h5 {
  text-decoration: underline;
}

.item-container .certified-flag {
  border-left: 35px solid transparent;
  width: 35px;
  border-top: 35px solid #57a8f0 !important;
  position: absolute;
  right: 0px;
  top: 0px;
}

.item-container .certified-icon {
  position: absolute;
  top: 3px;
  right: 3px;
  color: #ffffff;
}

.item-container .card-description {
  background-color: #dbdbdb;
  text-align: left;
  text-decoration: none;
  font-size: 11px;
  padding: 5px 10px;
  line-height: 13px;
  color: #424242;
  height: 50px;
}

.item-container .card-footer {
  display: flex;
  justify-content: space-evenly;
}

.item-container .card-footer .fa {
  padding-right: 3px;
}

.item-container .item-icon {
  width: 75px;
  height: 75px;
  margin: 0px auto;
}

.item-container .card-footer .card-link {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
}

.item-container .item-icon img {
  width: 75px;
}

.item-container h5{
  font-size: 13px;
  color: #000000;
  min-height: 30px;
}

.detail-content {
  padding: 10px 20px;
}

.detail-summary {
  margin-top: 20px;
}

.detail-summary img {
  border: 1px solid #cccccc;
  margin-right: 15px;
}

.detail-properties {
  font-size: 13px;
  margin-bottom: 10px;
}

.detail-description {
  font-size: 15px;
  color: #212121;
  margin-top: 15px;
}
