.topbar-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.topbar-container h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 20px 10px 25px 40px;
  background: #000000;
  color: #ffffff;
}

.sidebar #sidebar {
  position: fixed;
  top: 80px;
  left: 0px;
  right: 75%;
  bottom: 0px;
  background: #f7f7f7;
}

.sidebar #sidebar .btn-outline-secondary.active,
.sidebar #sidebar .btn-outline-secondary.dropdown-toggle.show,
.sidebar #sidebar .btn-outline-secondary:active,
.sidebar #sidebar .btn-outline-secondary:hover {
  color: #4d5358;
  border-color: #6c757d;
}

.sidebar #sidebar .btn-outline-secondary {
  border-color: #a7a7a7;
}

.sidebar #sidebar .btn-outline-secondary.dropdown-toggle:after {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}

.sidebar .sidebar-content {
  padding: 30px 40px 20px 40px;
}

.sidebar .sidebar-nav {
  font-size: 17px;
  margin-top: 20px;
  font-weight: 700;
}

.sidebar .sidebar-content .form-control {
  height: 35px;
  font-size: 14px;
}

.sidebar .sidebar-item {
  margin-top: 5px;
}

.sidebar .sidebar-link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.sidebar .sidebar-link.active {
  color: #3b75b8;
}

.sidebar .sidebar-link:hover {
  text-decoration: underline;
}

.main {
  margin-top: 100px !important; 
}

.main .carousel {
  z-index: -1;
}

.main .carousel .carousel-inner .carousel-item img {
  height: 300px;
  margin-left: 135px;
}

.main .carousel .carousel-control-prev-icon, .main .carousel .carousel-control-next-icon {
  background-color: #aba9a9;
}

.main .carousel .carousel-caption {
  top: 75px;
  left: 40%;
  color: #000000;
  text-align: left;
}

.main .content {
  margin-top: 15px; 
}

.item-container {
  width: 230px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 10px 20px 15px 0px;
  padding: 5px 0px 0px 0px;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  text-decoration: none;
  position: relative;
}

.item-container:hover h5 {
  text-decoration: underline;
}

.item-container .certified-flag {
  border-left: 35px solid transparent;
  width: 35px;
  border-top: 35px solid #57a8f0 !important;
  position: absolute;
  right: 0px;
  top: 0px;
}

.item-container .certified-icon {
  position: absolute;
  top: 3px;
  right: 3px;
  color: #ffffff;
}

.item-container .card-description {
  background-color: #dbdbdb;
  text-align: left;
  text-decoration: none;
  font-size: 11px;
  padding: 5px 10px;
  line-height: 13px;
  color: #424242;
  height: 50px;
}

.item-container .card-footer {
  display: flex;
  justify-content: space-evenly;
}

.item-container .card-footer .fa {
  padding-right: 3px;
}

.item-container .item-icon {
  width: 75px;
  height: 75px;
  margin: 0px auto;
}

.item-container .card-footer .card-link {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
}

.item-container .item-icon img {
  width: 75px;
  height: auto;
  max-height: 75px;
}

.item-container h5{
  font-size: 13px;
  color: #000000;
  min-height: 30px;
}

.detail-content {
  padding: 10px 20px;
}

.detail-summary {
  margin-top: 20px;
}

.detail-summary img {
  border: 1px solid #cccccc;
  margin-right: 15px;
}

.detail-properties {
  font-size: 13px;
  margin-bottom: 10px;
}

.detail-description {
  font-size: 15px;
  color: #212121;
  margin-top: 15px;
}

.category-container .category-item {
  border: 1px solid #545454;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  background: #ffffff;
}

.category-container .category-item .category-link {
  color: #545454;
  text-decoration: none;
  display: flex;
}

.category-container .category-item:hover .category-link {
  color: #01a1c0;
}

.main-carousel-container .carousel-indicators {
  right: 0;
  left: unset !important;
  bottom: unset !important;
  flex-direction: column;
  padding: 0;
  margin-right: 20px;
  top: 125px;
}

.main-carousel-container .carousel-indicators [data-bs-target] {
  box-sizing: unset !important;
  flex: unset !important;
  width: 10px;
  height: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-indent: unset !important;
  background-color: #121111;
  background-clip: unset !important;
  border: 1px solid #000000;
  border-top: unset !important;
  border-bottom: unset !important;
  border-radius: 50%; 
}

.category-title {
  font-size: 18px;
  margin-left: 10px;
}

.category-icon {
  width: 27px;
  height: 27px;
  position: relative;
}

.category-container {
  background: #f1f1f1;
  padding: 1px 0px 40px 0px; 
}

.category-integration {
  background: url("../images/spritesheet.png") no-repeat;
  background-position: -22px -22px;
}

.category-use-case {
  background: url("../images/spritesheet.png") no-repeat;
  background-position: -22px -160px;
}

.category-content-pack {
  background: url("../images/spritesheet.png") no-repeat;
  background-position: -22px -70px;
}

.category-widget {
  background: url("../images/spritesheet.png") no-repeat;
  background-position: -22px -116px;
}

.category-how-to {
  background: url("../images/spritesheet.png") no-repeat;
  background-position: -22px -200px;
}

.category-integration-link:hover .category-integration {
  background-position: -83px -22px;
}

.category-use-case-link:hover .category-use-case {
  background-position: -83px -160px;
}

.category-content-pack-link:hover .category-content-pack {
  background-position: -83px -70px;
}

.category-widget-link:hover .category-widget {
  background-position: -83px -116px;
}

.category-how-to-link:hover .category-how-to {
  background-position: -83px -200px;
}
