@font-face {
  font-family: 'Internal_Marketplace_FortiSOAR';
  src:  url('fonts/Internal_Marketplace_FortiSOAR.eot?9c99ru');
  src:  url('fonts/Internal_Marketplace_FortiSOAR.eot?9c99ru#iefix') format('embedded-opentype'),
    url('fonts/Internal_Marketplace_FortiSOAR.ttf?9c99ru') format('truetype'),
    url('fonts/Internal_Marketplace_FortiSOAR.woff?9c99ru') format('woff'),
    url('fonts/Internal_Marketplace_FortiSOAR.svg?9c99ru#Internal_Marketplace_FortiSOAR') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Internal_Marketplace_FortiSOAR' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-connector-1:before {
  content: "\e900";
}
.icon-connector-2:before {
  content: "\e901";
}
.icon-connector-3:before {
  content: "\e902";
}
.icon-dashboard-1:before {
  content: "\e903";
}
.icon-dashboard-2:before {
  content: "\e904";
}
.icon-dashboard-3:before {
  content: "\e905";
}
.icon-how_to_videos-1:before {
  content: "\e906";
}
.icon-how_to_videos-2:before {
  content: "\e907";
}
.icon-how_to_videos-3:before {
  content: "\e908";
}
.icon-playbook-1:before {
  content: "\e909";
}
.icon-playbook-2:before {
  content: "\e90a";
}
.icon-playbook-3:before {
  content: "\e90b";
}
.icon-reports-1:before {
  content: "\e90c";
}
.icon-reports-2:before {
  content: "\e90d";
}
.icon-reports-3:before {
  content: "\e90e";
}
.icon-solution_pack-1:before {
  content: "\e90f";
}
.icon-solution_pack-2:before {
  content: "\e910";
}
.icon-solution_pack-3:before {
  content: "\e911";
}
.icon-widget-1:before {
  content: "\e912";
}
.icon-widget-2:before {
  content: "\e913";
}
.icon-widget-3:before {
  content: "\e914";
}
