<nav id="sidebar">
    <div class="sidebar-content">
        <input class="form-control" type="text" ng-model="searchText" placeholder="Search In Marketplace" ng-change="submitSearch(searchText)"/>
        <ul class="sidebar-nav list-unstyled">
            <li class="sidebar-item"><a class="sidebar-link active" ng-click="applyFilter('all', $event)">All</a></li>
            <li class="sidebar-item"><a class="sidebar-link" ng-click="applyFilter('connector', $event)">Integrations</a></li>
            <li class="sidebar-item"><a class="sidebar-link" ng-click="applyFilter('use_cases', $event)">Use Cases</a></li>
            <li class="sidebar-item"><a class="sidebar-link" ng-click="applyFilter('content_packs', $event)">Content Packs</a></li>
            <li class="sidebar-item"><a class="sidebar-link" ng-click="applyFilter('widget', $event)">Widgets</a></li>
            <li class="sidebar-item"><a class="sidebar-link" ng-click="applyFilter('how_tos', $event)">How To's</a></li>
        </ul>
    </div>
</nav>
